header {
	margin: 30px;
	padding: 15px;
	text-align: center;
	border: 29px solid;
	border-image-source: url("/home/roy/Imágenes/Ada.png");
	border-image-slice: 29;
	border-image-repeat: stretch;
}
#titu {
	font: bold 26px Verdana, sans-serif;
}
div{
	width: 300px;
	height: 300px;
	background:  #20a4a4 ;
	color:#ffffff;
	font-size: 25px;
	/*float: left;*/
}
.caja{
	float: right; 
	/*RELATIVE posiciona y desplazar a una posicion con sin cubrir espacios
	ABSOLUTE posiciona y desplaza a una posicion cubriendo espacios vacios
	FIXED posiciona estaticamente al deslisar la página
	FLOAT a derecha o izquierda*/
	top:100px; /*de arriba hacia abajo*/
	bottom: 0px;
	left: 400px;
	right: 0px; /*de derecha a izquierda*/	
}
.image{

}